ul{
    background-color: rgba(218, 165, 32, 0.53);
    display: flex;
    align-items: center;
}
li{
    display: inline;
    justify-content: center;
    align-items: center;
}
a{
    font-size: 28px;
    padding: 14px;
    text-decoration: none;
    margin-right: 10px;
}
a:hover{
    color: white;
}
.about:hover{
    border-bottom: 5px solid brown;
}
li img{
    padding: 12px 22px;
    /* margin-left: -40px; */
    margin-right: 700px;
} 

